#!/usr/bin/make -f
# -*- mode: makefile -*-

DH_VERBOSE=1
DEB_PYTHON_SYSTEM := pysupport

PYVERS=$(shell pyversions -vs)

build: $(PYVERS:%=build-python%)
	touch $@
build-python%:
	dh_testdir
	python$* setup.py build
	touch $@

clean:
	dh_testdir
	rm -rf build build-python*
	dh_clean


install: build $(PYVERS:%=install-python%)
install-python%:
	python$* setup.py install --root=$(CURDIR)/debian/python-pyaudio

binary: binary-arch
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_installexamples
	dh_strip
	dh_fixperms
	dh_pysupport
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

